.wetter-wrapper {
    position: absolute;
    top: 20px;
    left: 40px;
    height: 65px;
    width: 240px;
    background-color: #554da0;
    box-shadow: inset -10px -10px 0 0 #1111, 5px 5px 0 0 black;
    padding: 10px; 
    z-index: 100;
}
.wetter-card {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
    .wetter-title {
        display: flex;
        width: 100px;
        height: 26px;
        gap: 10px;
    }
    .title {
        font-size: 20px;
        font-weight: bold;
        color: white;
        width: fit-content;
        height: fit-content;
        margin: 0;
    }
    .country {
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        padding: 0 2px;
        color: white;
        width: fit-content;
        height: fit-content;
        background-color: #1bcaa1;
    }
    .day {
        font-size: 8px;
        color: white;
        padding-left: 1px;
        padding-top: 3px;
    }
}
.wetter-description {
    font-size: 12px;
    font-weight: bold;
    width: fit-content;
}
.wetter-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
}
.wetter-temperatur {
    display: flex;
    gap: 10px;
}
.wetter-min, .wetter-max {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
    color: white;
    box-shadow: inset -2px -2px 0 0 #1118;
    margin-bottom: 2px;
}
.wetter-min {
    background-color: #65c9f0;
}
.wetter-max {
    background-color: #ff3131;
}



.kein-wetter {
    color: white;
    text-align: center;
    p {
    }
    h1 {
        font-weight: bold;
    }
}

.bg-clear {
    background-image: url("../img/wetter/Clear.png");
    background-size: cover;
}
.bg-clouds {
    background-image: url("../img/wetter/Clouds.png");
    background-size: cover;
}
.bg-drizzle {
    background-image: url("../img/wetter/Drizzle.png");
    background-size: cover;
}
.bg-rain {
    background-image: url("../img/wetter/Rain.png");
    background-size: cover;
}
.bg-thunderstorm {
    background-image: url("../img/wetter/Thunderstorm.png");
    background-size: cover;
}
.bg-snow {
    background-image: url("../img/wetter/Snow.png");
    background-size: cover;
}

.toaster-wrapper {
    position: relative;
    height: 400px;
    width: 300px;
    background-image: radial-gradient(circle at top right, transparent 40px, red 41px);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    
    background-position: 100% 10px;
}
.toaster {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 80px;
    background-color: #65c9f0;
    border-radius: 25px 25px 0 0;
    box-shadow: inset -30px 0px 0 #1113;
    outline: white 0.5px solid;
}
.toaster::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 7px;
    height: 7px;
    background-color: #333;
    border-radius: 50%;
    box-shadow: 0 15px 0 #333, 0 30px 0 2px #3482a0, 0 30px 0 4px #fff;
}
.toaster::after {
    content: "";
    position: absolute;
    top: 100%;
    left: -4px;
    width: calc(100% + 6px);
    height: 6px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: inset -30px 0px 0 #111;
}
.toaster .shine {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: #fff9;
    border-radius: 50% 22% 57% 50% / 50% 31% 60% 43%;
}
.toaster .foot {
    position: absolute;
    top: 100%;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #333;
    box-shadow: 19px 0 0 #333, 80px 0 0 #333, 105px 0 0 #333, ;
}
.slot {
    position: absolute;
    top: 35%;
    left: 85%;
    width: 7px;
    height: 35px;
    border-radius: 5px;
    background-color: #111;
    box-shadow: inset -2px -2px 0 #444;
}
.slot::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 10px;
    width: 17px;
    height: 7px;
    border-radius: 5px;
    background-color: #444;
    box-shadow: inset -4px 0px 0 #111, -10px 0 0 -2px white, -10px 0 0 -2px white;
}
