@import url(./navbar.css);
@import url(./animations.css);
@import url(./quiz.css);
html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(249, 233, 233);
}
.nonscroll {
  overflow: hidden;
}

.page {
  background-color: lightcoral;
  height: 100%;
  width: 100%;
}

.sticky-section {
  height: 200vh;
}
.sticky {
  height: 100vh;
  position: sticky;
  top: 0%;
  overflow: hidden;
}


.hor-scroll {
  display: flex;
  width: 200vh;
  height: 100vh;
  padding: 0 5vw;
  will-change: transform;
  align-items: center;
  justify-content: space-between;
}



.curtain {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: black;
  z-index: 9999;
}
.curtain.remove {
  animation: showUp 5s ease-in 0s 1 forwards;
}
.curtain .gift-container {
  position: relative;
}
.curtain button {
  border: none;
  outline: none;
  padding: 0;
  margin: 0 auto;
  transition: all 0.5s;
}
.curtain .btn.remove {
  transform: scale(5);
  opacity: 0;
}
.gift-lid {
  width: 100%;
  position: relative;
}
.gift-lid::before {
  content: '';
  height: 2rem;
  width: 3rem;
  position: absolute;
  top: -2rem;
  right: 50%;
  border: solid red 0.45rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 0%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: translateX(2.5px) rotate(10deg);
}
.gift-lid::after {
  content: '';
  height: 2rem;
  width: 3rem;
  position: absolute;
  top: -2rem;
  left: 50%;
  border: solid red 0.45rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 0%;
  transform: translateX(-2.5px) rotate(-10deg);

}

.giftbox {
  height: 5rem;
  width: 5rem;
  margin: 0 auto;
  background-color: yellow;
  position: relative;
}
.giftbox::before {
  content: '';
  position: absolute;
  top: -0rem;
  left: 50%;
  transform: translateX(-50%);
  height: 1rem;
  width: 5.75rem;
  background-color: orange;
  animation: wiggle 1s infinite linear;
}
.giftbox::after {
  content: '';
  position: absolute;
  top: 0rem;
  left: 50%;
  transform: translateX(-50%);
  height: 5rem;
  width: 1rem;
  background-color: orange;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes showUp {
  from {
    height: 100%;
    opacity: 1;
  }
  to {
    height: 0%;
    opacity: 0;
  }
}

@keyframes wiggle {
  100% {
    transform: translate(-50%) translate3d(1px, 0, 0);
  }
}
