div.petals-container {
    height: 40rem;
    width: 40rem;
    background-color: black;
}
.petals-container::after {
    content: '';
    width: 70px;
    height: 200px;
    border-radius: 50%;
    border-left: 10px solid green;
    border-bottom: 10px solid transparent;
    position:absolute;
    left: 50%;
    top: 60%;
}

.petals-container::before {
    content: "";
    width: 90px;
    height: 60px;
    border-radius: 50%;
    border-top: 20px solid green;
    position: absolute;
    top: 59%;
    left: 52%;
}

/* .container::before{
    content: '';
    width: 70px;
    height: 200px;
    border-radius: 50%;
    border-left: 10px solid green;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 60%;
    left: 49%;
}

.container::after{
    content: '';
    width:90px;
    height:60px;
    border-radius: 50%;
    border-bottom: 20px solid transparent;
    border-top: 20px solid green;
    position: absolute;
    top: 60%;
    left: 50%;
} */
.point {
  width: 100px;
  height: 100px;
  background: rgb(244,226,54);
  background:linear-gradient(180deg, rgba(244,226,54,1) 0%, rgba(253,29,29,1) 100%);
  position: absolute;
  border-top-right-radius: 0px;
  border-bottom-left-radius:0px ;
  border-bottom-right-radius: 200px;
  border-top-left-radius: 200px;
} 
.dead-point {
    width: 50px;
    height: 500px;
    position: absolute;
    border-top: 2rem gray solid;
    border-left: 2rem gray solid;
    border-top-right-radius: 0px;
    border-bottom-left-radius:0px ;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 200px;
}