/*Dropdown*/
.toggler {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
}
.toggler-btn {
  position: absolute;
  border: none;
  border-radius: 0.5rem;
  outline: pink solid 0.125rem;
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  transition: outline ease .1s;
  z-index: 100;
}
.toggler-btn span {
  transition: all ease .1s;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 192, 203, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.toggler-btn:hover {
  outline: rgba(90, 2, 47, 0.8) solid 0.200rem;
}
.toggler-btn:hover span {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2890, 2, 47, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.toggler-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 237, 249, 1);
  height: 100vh;
  z-index: 99;
  padding: 1rem 4rem;
}
.toggler-content h1 {
  color:rgba(90, 2, 47, 0.8);
  text-align: center;
  margin-bottom: 3rem;
}
.toggler-content p {
  margin: 0 auto;
  display: block;
  line-height: 1.5rem;
  max-width: 60%;
  margin-bottom: 1rem;
}
.toggler-content em {
  color:rgba(90, 2, 47, 0.8);
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  margin-left: 7rem;
}
